<html>
    <head>
        <link rel="stylesheet" href="/css/basic.css">
        <link rel="stylesheet" href="/css/style.css">
        <meta charset="UTF-8">
        <title>나의 게시판</title>
    </head>

    <body>
        <header>
            <div class="logo">
                <a href="/"><img src="/images/샤넬로고4.jpg" style="width:80px;height:80px;"></a>
            </div>
            <div class="mainBtn">
                <h1><a href="/">우리게시판</a></h1>
            </div>
            <div class="navi">
                <%if (isUser) { %>
                    <a href=""><%=nickname%>님</a>
                    <a href="/logout">로그아웃</a>
                <% } else { %>
                    <a href="/login">로그인</a>
                <% } %>
            </div>
        </header>
        <section>
            <div class="inner">
                <h1>글쓰기</h1>
                <form action="/write" id="writeform" method="post">
                    <div class="board">
                        <div class="post_header">
                            <input id="title" name="title" type="text" maxlength="80" placeholder="제목을 입력해 주세요.">
                        </div>
                        <div class="post_content">
                            <textarea id="content" name="content" cols="30" rows="21" placeholder="내용을 입력해 주세요."></textarea>
                        </div>
                    </div>
                </form>
                    
                <div class="btns">
                    <a href="/">
                        목록
                    </a>
                    <a href="javascript:void(0);" onclick="submitData();">
                        저장
                    </a>
                </div>
                
            </div>

        </section>

        <script>
            function submitData() {
                let title_in = document.getElementById("title");
                let content_in = document.getElementById("content");
                if (title_in.value == '' || content_in.value == '') {
                    alert("제목 및 내용을 입력하세요.");
                }
                else {
                    let dom = document.getElementById("writeform");
                    dom.submit();
                }
                
            }
        </script>
        
    </body>
    
</html>