<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>나의 게시판</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/샤넬로고4.jpg" style="width:80px;height:80px;"></a>
        </div>
        <div class="mainBtn">
            <h1><a href="/">우리게시판</a></h1>
        </div>
        <div class="navi">
            <span id="user-info"></span>
        </div>
    </header>
    <section>
        <div class="inner">
            <h1>로그인</h1>
            <div class="loginform">
                <form action="/login" id="lgnform" method="post">
                    <div class="login ID">
                        <input id="inputID" name="inputID" type="text" maxlength="20" placeholder="아이디를 입력해 주세요.">
                    </div>
                    <div class="login PW">
                        <input id="inputPW" name="inputPW" type="password" maxlength="20" placeholder="비밀번호를 입력해 주세요.">
                    </div>
                </form>
                <div class="loginbtn">
                    <button id="login-btn">로그인</button>
                </div>
                <div class="find">
                    <a href="#">아이디 찾기</a>
                    <a href="#">비밀번호 찾기</a>
                    <a href="/register">회원가입</a>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function() {
            const isUser = <%= isUser %>;
            
            $('#login-btn').click(function() {
                const id_in = $('#inputID').val();
                const pw_in = $('#inputPW').val();

                if (id_in === '' || pw_in === '') {
                    alert("아이디 및 비밀번호를 입력하세요.");
                } else {
                    $('#lgnform').submit();
                }
            });
        });
    </script>
</body>
</html>
